   // This imports grid mixins for gridset – mixins are created in mix.scsss
@import "gridmix";

$centre:0 auto;
			
@mixin row {
float: left;
width: 100%;
margin-bottom: 40px;
display: block;
position: relative;
margin-right: 0px;
}

@mixin block {
display: block;
position: relative;

}


.fifteen { 
@include gs-span (d, all);

}

.left-aside { 
@include gs-span (d, 1, 4, (1,15)); 
background: #e1e1e1;
height: 200px;
position: relative;
z-index: 100;
opacity:0.7;

}

.left-seven { 
@include gs-span (d, 1, 7, (1,15)); 
position: relative;
z-index: 100;

}

.large-p {  margin-left:57.21866%;  }


.content, .wrap {

@include gs-span(d, 4, 15, (1,15));

}


.twelve  {

@include gs-span(d, 4, 15, (4,15));
@include gs-float(d, left, (4,15));
   &:last-of-type {
         margin-right: 0;
      }

}


.eleven {

@include gs-span(d, 4, 14, (4,15));
@include gs-float(d, left, (4,15));
   &:last-of-type {
         margin-right: 0;
      }

}


.ten {

@include gs-span(d, 4, 13, (4,15));
@include gs-float(d, left, (4,15));
   &:last-of-type {
         margin-right: 0;
      }

}

.nine {

@include gs-span(d, 4, 12, (4,15));
@include gs-float(d, left, (4,15));
   &:last-of-type {
         margin-right: 0;
      }

}

.eight {

@include gs-span(s, 4, 11, (4,15));
@include gs-float(s, left, (4,15));
   &:last-of-type {
         margin-right: 0;
      }

}

.seven {

@include gs-span(s, 4, 10, (4,15));
@include gs-float(s, left, (4,15));
   &:last-of-type {
         margin-right: 0;
      }

}

.six {

@include gs-span(s, 4, 9, (4,15));
@include gs-float(s, left, (4,15));
   &:last-of-type(2n+1) {
         margin-right: 0;
      }

}

.five {

@include gs-span(s, 4, 8, (4,15));
@include gs-float(s, left, (4,15));
   &:last-of-type {
         margin-right: 0;
      }
}

// .five-in-ten {
// @include gs-span(s, 6, 10, (6,15));
// @include gs-float(s, left, (6,15));
// margin-left:3%;  margin-right: 0;
//       }

// .five-in-ten-right {

// @include gs-span(s, 6, 10, (6,15));
// @include gs-float(s, right, (6,15));
// margin-left:0%;  margin-right: 0;
      
//       }




.four {

@include gs-span(s, 4, 7, (4,15));
@include gs-float(s, left, (4,15));

   &:last-of-type {
         margin-right: 0;
      }


}

.four-in-ten {
@include gs-span(s, 7, 10, (6,15));
@include gs-float(s, left, (6,15));
 
}

.three {

@include gs-span(s, 4, 6, (4,15));
@include gs-float(s, left, (4,15));
   &:last-of-type {
         margin-right: 0;
      }

}

.two {

@include gs-span(s, 4, 5, (4,15));
@include gs-float(s, left, (4,15));
   &:last-of-type {
         margin-right: 0;
      }

}

.one  {

@include gs-span(s, 4, 4, (4,15));
@include gs-float(s, left, (4,15));
   &:last-of-type {
         margin-right: 0;
      }

}


.one-in-ten {

@include gs-span(s, 4, 4, (6,15));
@include gs-float(s, left, (6,15));
}


.float-right {
  @include gs-float(s, right);
}

.float-left {
  @include gs-float(s, left);
  margin-left: 0;
}


.no-margin { margin: 0px;}

li.list-of-six {
background:aqua;
@include gs-float(s, left, (4,15));
&:nth-child(2n+2) { margin-right: 0px;
}

}



