   // This imports grid mixins for gridset – mixins are created in mix.scsss
@import "gridmix";

$centre:0 auto;
			
@mixin row {
float: left;
width: 100%;
margin-bottom: 40px;
display: block;
position: relative;
margin-right: 0px;
}

@mixin block {
display: block;
position: relative;

}



.left-aside { 
@include gs-span (d, 1, 4, (1,15)); 
background: #e1e1e1;
height: 200px;
position: relative;
z-index: 100;
opacity:0.7;

}

.left-seven { 
@include gs-span (d, 1, 7, (1,15)); 
position: relative;
z-index: 100;

}



.content {
@include gs-span(d, 4, 15, (1,15)); 
@include gs-media(t, max) { @include gs-span(t, 1, 8); } 

}


.twelve  {

  @include gs-span(d, 4, 15, (4,15));
@include gs-float(d, left, (4,15));
   &:last-of-type {
         margin-right: 0;
      }

}

.eleven {
@include gs-span(d, 4, 14, (4,15));
@include gs-float(d, left, (4,15));
   &:last-of-type {
         margin-right: 0;
      }
    }


.ten {
@include gs-span(d, 4, 13, (4,15));
@include gs-float(d, left, (4,15));
   &:last-of-type {
         margin-right: 0;
      }
}

.nine {
@include gs-span(d, 4, 12, (4,15));
@include gs-float(d, left, (4,15));
   &:last-of-type {
         margin-right: 0;
      }
}

.eight {
@include gs-span(s, 4, 11, (4,15));
@include gs-float(s, left, (4,15));
   &:last-of-type {
         margin-right: 0;
      }
}

.seven {
@include gs-span(s, 4, 10, (4,15));
@include gs-float(s, left, (4,15));
   &:last-of-type {
         margin-right: 0;
      }
}

.six {
@include gs-span(s, 4, 9, (4,15));
@include gs-float(s, left, (4,15));
// width: gs-adjust(d, gs-gutter(d), (4, 9), true);
  &:last-of-type {
         margin-right: 0;
      }
}

.five {

@include gs-span(s, 4, 8, (4,15));
@include gs-float(s, left, (4,15));
   &:last-of-type {
         margin-right: 0;
      }
}



.four {

@include gs-span(s, 4, 7, (4,15));
@include gs-float(s, left, (4,15));

&:nth-child(3n+3) { margin-right: 0px;

}

   &:last-of-type {
         margin-right: 0;
      }

}


.three {

@include gs-span(s, 4, 6, (4,15));
@include gs-float(s, left, (4,15));
   &:last-of-type {
         margin-right: 0;
      }

}

.two {

@include gs-span(s, 4, 5, (4,15));
@include gs-float(s, left, (4,15));
   &:last-of-type {
         margin-right: 0;
      }




}

.one  {

@include gs-span(s, 4, 4, (4,15));
@include gs-float(s, left, (4,15));
   &:last-of-type {
         margin-right: 0;
      }

}


.one-in-ten {

@include gs-span(s, 4, 4, (6,15));
@include gs-float(s, left, (6,15));
}


.float-right {
  @include gs-float(s, right);
  margin-left: 0;
}

.float-left {
  @include gs-float(s, left);
  margin-left: 0;
}


.no-margin { margin: 0px;}

li.list-of-six {
background:aqua;
@include gs-float(s, left, (4,15));
&:nth-child(2n+2) { margin-right: 0px;
}

}

.l-clear {
clear: left;
}


// Mobile Media – below 767px reset to stack all elements







// Journal layout styling 

.journal-aside {

@include gs-span(d, 1, 7, (1,15));

} 



.intro {
@include gs-span(d, 1, 5, (1,15));

  margin-left: gs-marginleft(d, 1, false, true);  
  clear: left;
}




.journal-p {

@include gs-span(d, 7, 14, (1,15));
@include gs-float(d, left, (1,15));
  margin-left: gs-marginleft(d, 7, false, true);  
  clear: left;
}

.twelve-offset {
@include gs-span(d, 4, 15, (1,15));
@include gs-float(d, left, (1,15));
  margin-left: gs-marginleft(d, 4, false, true);  
}

.five-offset {
@include gs-span(d, 4, 9, (1,15));
  // margin-left: gs-marginleft(d, 4, false, true);  
}

.two-up {
@include gs-span(d, 6, 15, (1,15));
@include gs-span(l, 6, 15, (1,15));
  // margin-left: gs-marginleft(d, 4, false, true);  
}

// .five-offset-right {
// @include gs-span(d, 1, 5, (1,15));
//   margin-left: gs-marginleft(d, 10, false, true);  
// }


.meta { 


@include gs-span(d, 4, 14, (1,15));
@include gs-float(d, left, (1,15));
  margin-left: gs-marginleft(d, 4, false, true);  


ul { 

  @include gs-media(m, max) { clear: both; }
  
&.share { @include gs-span(s, 4, 6, (4,14));
          @include gs-float(s, left, (4,14)); 


        }

&.tags {  @include gs-span(s, 7, 14, (4,14));
          @include gs-float(s, left, (4,14)); 
margin-right: 0px;
        }


  }

}


@include gs-media(t, max) {

.content, aside, article, .left-aside, .twelve, p, .nine, .eight, .seven, .four, .five, .three, .two, 
.journal-aside, .intro, .journal-p, .twelve-offset, .five-offset, .two-up, .journal-aside, .meta, footer ul {

    @include gs-span(t, 1); 
    float: left; 
    clear: both; 
    margin-left: 0px; 
    width: 100%; 
    position: relative;


}

}







