/* _variables.scss */



// <img src="http://placehold.it/1280x800/ff8067/ffffff">
//   <img src="http://placehold.it/640x400/ff8067/ffffff">
//    <img src="http://placehold.it/400x640/ff8067/ffffff">
//     <img src="http://placehold.it/640x640/ff8067/ffffff"> 


// Variables for layout
		$span-full: 100%;
		$body-width: 90%;
		$center: 0 auto;


	/* Colors */

		$white: rgb(255,255,255);
		$orange: rgb(255,128,101);
		$navy: rgb(62,69,76);
		$blue: rgb(33,128,171);
		$light-blue: rgb(126,180,227);

	/* Font */

		$font:"ProximaNova-Regular", "Helvetica-neue", Helvetica, Arial, sans-serif;
		$h1: 6em/1;
		$h2: 2.25em/1.3333;
		$h3: 3em/1;
		$h4: 1.875em/1.6;
		$h5: 1.5em/1;
		$para: 16px/24;
		$large-para:18px/30px;


	/* Fonts-weight */

		$black: "ProximaNova-Black";
		$exbold: "ProximaNova-Extrabld";
		$bold: "ProximaNova-Bold";

		$semi: "ProximaNova-Semibold";
		$regular: "ProximaNova-Regular";
		$light: "ProximaNova-Light";

		$black-it: "ProximaNova-BlackIt";
		$bold-it: "ProximaNova-BoldIt";
		$semi-it: "ProximaNova-SemiboldIt";
		$regular-it: "ProximaNova-RegularIt";
		$light-it: "ProximaNova-LightIt";


/* Padding/Margin/Global Spacing */

		
		$height-hf:100px;
		$gutter:2.68%;
		$half-gutter:1.35%;



// Baseline / 





