
@import "compass/css3/border-radius";
@import"compass/typography";
@import"variables";
@import"box";

@mixin body-width { margin:$center; width: $body-width; display: block; }
@mixin full-width { float:left; width: $span-full; display: block;}
@mixin pad-top-bottom { padding: 10px 0; }
@mixin list-inline { display: inline; list-style: none; }
@mixin gutter-push-right { padding-right: 2.68%; }


// Simple reset
html,body,h1,div,div, a, li, ul  {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	font-family: $font;
	color:$navy;
	text-decoration: none;
	font-style: normal;
	list-style-type: none;


}

// changes
// Menu & footer styling 
nav, footer 	{ height: 100px; 

li 				{ @include list-inline; padding:0 30px 0 0; 

li.float-right 	{ @include list-inline; padding-left:0 0 0 30px;

				} } }



// Main styling

header { @include body-width; }

img { width: $span-full; @include pad-top-bottom; }

.row { @include body-width; }

.twelve { img { padding: 0px 0px 10px 0px; } }

.panel { @include full-width }

p {

 .four { clear: both; }

}

.case-study, .studio { color:$white; background: $navy;

.container { display: block; 
float: left; }

p, h2, h3, h4, a, li { color:$white; }

}

.studio .left-seven p {

position: relative; top:360px;

}

.large-p {  margin-left:-25.25%; }

.five.push-left {
margin-left: 2.6%;
}

.profiles img   { @include border-radius(50%); padding:0px; }

.push-right { @include gutter-push-right; }