/* _variables.scss */
/* Colors */
/* Font */
/* Fonts-weight */
/* Padding/Margin/Global Spacing */
/* _box.scss */
/* line 3, ../../sass/_box.scss */
.box {
  outline: 1px solid #99999a;
  *border: 1px solid #99999a;
  min-height: 50px;
}

/* line 15, ../../sass/styles/screen.scss */
html, body, h1, div, div, a, li, ul {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  font-family: "ProximaNova-Regular", "Helvetica-neue", Helvetica, Arial, sans-serif;
  color: #3e454c;
  text-decoration: none;
  font-style: normal;
  list-style-type: none;
}

/* line 34, ../../sass/styles/screen.scss */
nav, footer {
  height: 100px;
}
/* line 36, ../../sass/styles/screen.scss */
nav li, footer li {
  display: inline;
  list-style: none;
  padding: 0 30px 0 0;
}
/* line 38, ../../sass/styles/screen.scss */
nav li li.float-right, footer li li.float-right {
  display: inline;
  list-style: none;
  padding-left: 0 0 0 30px;
}

/* line 46, ../../sass/styles/screen.scss */
header {
  margin: 0 auto;
  width: 90%;
  display: block;
}

/* line 48, ../../sass/styles/screen.scss */
img {
  width: 100%;
  padding: 10px 0;
}

/* line 50, ../../sass/styles/screen.scss */
.row {
  margin: 0 auto;
  width: 90%;
  display: block;
}

/* line 52, ../../sass/styles/screen.scss */
.twelve img {
  padding: 0px 0px 10px 0px;
}

/* line 54, ../../sass/styles/screen.scss */
.panel {
  float: left;
  width: 100%;
  display: block;
}

/* line 58, ../../sass/styles/screen.scss */
p .four {
  clear: both;
}

/* line 62, ../../sass/styles/screen.scss */
.case-study, .studio {
  color: white;
  background: #3e454c;
}
/* line 64, ../../sass/styles/screen.scss */
.case-study .container, .studio .container {
  display: block;
  float: left;
}
/* line 67, ../../sass/styles/screen.scss */
.case-study p, .case-study h2, .case-study h3, .case-study h4, .case-study a, .case-study li, .studio p, .studio h2, .studio h3, .studio h4, .studio a, .studio li {
  color: white;
}

/* line 71, ../../sass/styles/screen.scss */
.studio .left-seven p {
  position: relative;
  top: 360px;
}

/* line 77, ../../sass/styles/screen.scss */
.large-p {
  margin-left: -25.25%;
}

/* line 79, ../../sass/styles/screen.scss */
.five.push-left {
  margin-left: 2.6%;
}

/* line 83, ../../sass/styles/screen.scss */
.profiles img {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  padding: 0px;
}

/* line 85, ../../sass/styles/screen.scss */
.push-right {
  padding-right: 2.68%;
}
